<% @locations = Location.where.not(name: nil) %>
<%= @locations.each do |location| %>
<div class="tag-item">
  <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="1" name="snippet[tag_ids][]" id="snippet_tag_ids_1">
  <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_1"><%= location.name %></label>
</div>
<% end %>
