<label for="<%= index %>">
  <div class="card-ride">
    <img class="card-ride__image" src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_1444,h_963/v1548646918/assets/e9/2eeb8f-3764-4e26-8b17-5905a75e7e85/original/2.png"><img>
    <h3><%= ride.platform.name.capitalize %></h3>
    <p>$<%= ride.fare %></p>
  </div>
</label>
<input type="radio" name="ride" id="<%= index %>">