 <div class="container my-3">
      <% @trips.each do |trip| %>
  <div class="card-product">
    <img src="https://cdn.icon-icons.com/icons2/2407/PNG/512/uber_icon_146079.png"/>
    <div class="card-product-infos">
      <h2><%= trip.created_at %></h2>
      <p>Product description with</p>
    </div>
  </div>
      <% end %>
</div>
