<div class="full-page">
  <h2 class="header">My Trips</h2>
  <div class="container-history my-1">
    <% @trips.each do |trip| %>
      <div class="card-product">
        <div class="card-product-infos d-flex">
          <%= image_tag trip.ride.path_image, alt: "Logo", class: "ride-logos" %>
          <div class="trip-info">
            <p><strong>From:</strong> <%= trip.start_location.address %></p>
            <p><strong>To:</strong> <%= trip.end_location.address %></p>
          </div>
          <div class="date">
            <h2><%= trip.created_at.strftime("%d.%m") %></h2>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
