 <div class="container-history my-3">
      <% @trips.each do |trip| %>
  <div class="card-product">
  <div class="title"><h2><%= trip.end_location.name %></h1></div>
    <div class="card-product-infos d-flex">
      <img src="https://cdn.icon-icons.com/icons2/2407/PNG/512/uber_icon_146079.png"/>
      <div>
        <h2><%= trip.created_at %></h2>
        <p>from <%= trip.start_location.name %></p>
      </div>
    </div>
  </div>
      <% end %>
</div>
