// Specific CSS for your home-page
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

.home-card {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 46px;
  width: 360px;
  align-items: center;
  justify-content: center;
  margin: 20px;

  h3 {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    margin: 0rem;
    padding: 10px 10px;
  }
}

.home-card-dark {
  border: 1px solid lightgrey;
  background: #14213D;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 84px;
  width: 360px;
  align-items: center;
  justify-content: center;
  margin: 20px;

  h2 {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    margin: 0rem;
    color: white;
    padding: 10px 10px;
  }
}

.rides {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  justify-items: center;
  align-items: center;
  margin: 20px;
  width: 320px;
}

.ride-logos {
  width: 80px;
  height: auto;
  border-radius: 50%;
  justify-content: center;
}

.container {
  overflow-y: auto;
}
