<div class="container d-flex align-items-center">
  <div style="float:left;">
    <%= simple_form_for @trip, url: new_trip_path, method: "get" do |f| %>
      <%= f.input :start_location,
        input_html: {
          data: { address_autocomplete_target: "location" },
          class: "d-none",
        },
        placeholder: "Start location",
        label: false,
        wrapper_html: {
          data: {
            controller: "address-autocomplete",
            address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]
          }
        }
      %>
  </div>
  <div style="float:right;">
    <%= f.input :end_location,
        input_html: {
          data: { address_autocomplete_target: "location" },
          class: "d-none"
        },
        label: false,
        wrapper_html: {
          data: {
            controller: "address-autocomplete",
            address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]
          }
        }
      %>
  </div>
</div>

<div class="container d-flex justify-content-center">
      <%= f.submit class:"button-primary-full" %>
    <% end %>
</div>
