.button-primary {
  background-color: #FCA311;
  color: white;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 12px 20px;
  margin: 10px;
  border: 0px;
  text-decoration: none;
}

.button-primary-full {
  background-color: #FCA311;
  color: white;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 12px 20px;
  margin: 10px;
  border: 0px;
  text-decoration: none;
  width: 80%;
  letter-spacing: 2px;
  font-weight: 600;
}

.button-primary-large {
  background-color: #FCA311;
  color: white;
  width: 80%;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 12px 20px;
  margin: 10px;
  border: 0px;
  text-decoration: none;
}

.location-icon {
  width: 20px;
  height: auto;
}

.fake-button {
  border-radius: 10px;
  box-shadow: 1px 2px 25px 2px rgba(0,0,0,0.15);
  padding: 10px 15px;
  text-decoration: none;
  font-size: 12px;
  align-items: center;
  color: gray;
  background-color: white;
  display: flex;
  width: 200px;
  z-index: 9;

  p {
    margin: 0rem;
    padding-left: 5px;
    text-decoration: none;
  }

}

.map {
  .mapboxgl-canvas {
    width: 100vw !important;
  }
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.gps-icon {
  width: 20px;
}
