.button-primary {
  background-color: #FCA311;
  color: white;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 12px 20px;
  margin: 10px;
  border: 0px;
  text-decoration: none;
}

.button-primary-full {
  background-color: #FCA311;
  color: white;
  text-transform: uppercase;
  border-radius: 40px;
  // width: 320px;
  // text-align: center;
  // text-decoration: none;
  padding: 12px 20px;
  margin: 10px;
  border: 0px;
  text-decoration: none;
  width: 100%;
}


.location-icon {
  width: 20px;
  height: auto;
}

.fake-button {
  border-radius: 30px;
  border: 1px solid black;
  padding: 10px 10px;
  margin: 10px;
  text-decoration: none;
}
