.ride-category {
  background-color: #14213D;
  padding: 12px;
  display: grid;
  width: 100%;
  overflow: scroll;
  height: 53vh;

 h2 {
    color: whitesmoke;
    margin: 0rem;
    padding: 10px 24px;
  }
}

.ride-info {
  border-radius: 5px;
  margin: 4px 8px;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
  min-height: 80px;

  p {
    margin: 0rem;
    padding: 4px;
  }

  h3 {
    margin: 0rem;
    font-weight: 600;
    color: orange;
    padding-left: 10px;
    font-size: 20px;
  }

  .ride-logos {
    width: 60px;
    justify-content: center;
    align-items: center;
  }
  transition: background-color 0.4s ease;
}

.ride-category {
  input[type="radio"] {
    display: none;
  }
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.bg-gray {
  background-color: rgba(193, 217, 221, 0.7);
}

.sticky-btn {
  position: sticky;
  bottom: 0;
  background-color: #14213D;
  width: 100%;
}

.trip-overlay-left {
  position: absolute;
}

.trip-overlay {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
  width: 80%;
}

.trip-card {
  background: #FFFFFF;
  border-radius: 10px;
  height: 46px;
  width: 360px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 12%;

  h3 {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    margin: 0rem;
    padding: 10px 10px;
  }
}
