.ride-category {
  background-color: $light-blue;
  padding: 12px;
  display: grid;
  width: 100%;
  overflow: scroll;
  height: 53vh;

 h2 {
    color: black;
    margin: 0rem;
    padding: 10px 24px;
  }
}

.ride-info {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 10px;
  background-color: whitesmoke;
  border: 1px solid #14213D;
  margin: 4px 8px;
  padding: 10px;
  min-height: 80px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  p {
    margin: 0rem;
  }

  h3 {
    margin: 0rem;
    font-weight: 600;
    font-size: 20px;
  }

  .btn-general {
    font-size: 16px;
    font-family: "Plus Jakarta Sans";
    position: absolute;
    top: 0;
    right: 0;
    width: 98px;
    border-radius: 15px;
    text-align: center;
    padding: 4px;
    background-color: inherit;
    border-bottom-right-radius: 0;
  }

  .green {
    background-color: #B9E6D3;
  }

  .luxury {
    background-color: #FFD966;
  }

  .economy {
    background-color: #FFC069;
  }

  .ride-logos {
    width: 60px;
    align-self: center;
  }
  transition: background-color 0.4s ease;
}

.ride-category {
  input[type="radio"] {
    display: none;
  }

}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.bg-gray {
  background-color: #14213D;
  color: white;
  .text {
    color: black;
  }
}

.sticky-btn {
  position: sticky;
  bottom: 0;
  background-color: #14213D;
  width: 100%;
}

.trip-overlay-left {
  position: absolute;
}

.trip-overlay {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
  width: 80%;
}

.trip-card {
  background: #FFFFFF;
  border-radius: 10px;
  height: 46px;
  width: 360px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 12%;

  h3 {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    margin: 0rem;
    padding: 4% 10px;
  }
}

.dot {
  height: 60px;
  width: 60px;
  background-color: inherit;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -37%;
  left: 70%;
}
