.card-product {
  overflow: hidden;
  height: 120px;
  display: flex;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
  img {
    width: 15%;
    object-fit: cover;
  }
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  justify-content: space-around;
}

.container-history {
  background: white;
  border-radius: 30px;
  padding-left: 4px;
  padding-right: 4px;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
