.header {
  font-weight: 900;
  margin-left: 25px;
  margin-bottom: 15px;
  margin-top: 45px
}

.card-product {
  overflow: hidden;
  height: 130px;
  display: flex;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
  img {
    object-fit: cover;
    height: 50px;
    width: 50px;
  }
}

.card-product hr {
  border-top: 1px solid gray;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.container-history {
  background: white;
  border-radius: 30px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 5px;
  max-width: 90%;
  margin-right: 32px;
  margin-left: 32px;
  height: 77vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: scroll;
}

.container-history::-webkit-scrollbar {
  height: fit-content;
}

.title {
  width: 100%;
}

.trip-info {
  margin-right: auto;
  margin-left: 1em;
}
