.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: #14213D;
  color: whitesmoke;
  height: 120px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  ;
}

.logo {
  width: 120px;
  height: auto
}

.iphone-container {
  height: 932px;
  width: 430px;
}
