#submit-button input[type="submit"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

#submit-button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder--input {
  background: #FFFFFF !important;
  height: 36px !important;
  width: 360px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  text-align: center;
  padding-left: 40px !important;
  z-index: -1 !important;
  border-width: 5px !important;
  border-color: black !important;
  font-family: “Inter” !important;
  border-radius: 30px !important;
  border: 0.5px solid black !important;
}
.mapboxgl-ctrl-geocoder {
  margin: 0 !important;
  width: auto !important;
  min-width: auto !important;
  max-width: initial !important;
  border-radius: 30px !important;
}
.search-bars-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  margin: 0 30px;


  .logo {
    width: 80px;
    height: 80px;
    z-index: 1;
    object-fit: cover;
    float: right !important;

  }


}

.saved-locations {
  background-color: #FFFFFF !important;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 20px;
  text-transform: capitalize;
  margin-right: 5px;
  border: 0.5px solid black;
  font-family: "Inter";
}

.scrollable-wrapper {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of list items */
  margin: 0 32px; /* Add space on both sides horizontally */
}

.scrollable-list {
  display: inline-block; /* Display the list items in a row */
  list-style-type: none; /* Remove default list styles */
  padding-left: 0rem !important;
}

.start-location-button {
  border-radius: 30px;
}

#history-card {
  height: 550px;
  position: fixed;
  bottom: 20px;
  left:0;
  right:0;
}
