<%# <div class="container">
  <div class="home-card d-flex justify-content-center">
    <h3>Hello! Where would you like to go to today?</h3>
  </div>
</div> %>

<div class="container">
  <div class="home-card-dark d-flex justify-content-center">
    <h2>Available ride-sharing apps in your area</h2>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
      <div class="rides">
      <%= image_tag "uber-logo.png", alt: "Logo", class: "ride-logos" %>
      <%= image_tag "lyft-logo.png", alt: "Logo", class: "ride-logos" %>
      <%= image_tag "curb-logo.jpeg", alt: "Logo", class: "ride-logos" %>

  </div>
</div>
