
<div class="device" data-controller="navbar">
	<div class="container">
		<button id="burger" class="open-main-nav">
			<span class="burger"></span>
			<span class="burger-text">Menu</span>
		</button>
		<nav class="main-nav" id="main-nav">
			<ul>
				<li>
					<a href="#">My Account</a>
				</li>
				<li>
					<a href="#">My Trips</a>
				</li>
				<li>
          <a href="#">Log out</a>
        </li>
			</ul>
		</nav>
	</div>
</div>
